<h1 style="text-align: center;">In Angular, demonstrate the concept of routing by taking a suitable example.</h1>
<h3 style="text-align: center; margin-top: 40px;">Click on any link to check angular router</h3>
<p style="text-align: center; margin-top: 20px;">check the url changes while clicking on any link by help of angular router</p>
<div style="position: relative;top: 10vh ;display: flex; justify-content: space-around;">
  <a routerLink="/" style="font-size: larger;">Home</a>
  <a routerLink="/about" style="font-size: larger;">About</a>
  <a routerLink="/contact" style="font-size: larger;">Contact</a>
  <a routerLink="/feedback" style="font-size: larger;">Feedback</a>  
</div>